<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>

<body>

<div class="super_container">

    <!-- Header -->

    <header class="header">

        <!-- Top Bar -->

        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="phone">+45 345 3324 56789</div>
                        <div class="social">
                            <ul class="social_list">
                                <li class="social_list_item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="user_box ml-auto">
<!--                            <div class="user_box_login user_box_link"><a th:href="@{/login}">login</a></div>-->
                            <div class="user_box_login user_box_link"><a th:href="@{/login}">logout</a></div>


                            <div class="user_box_link" >Hello, Agent</div>
<!--                            <div class="user_box_register user_box_link"><a th:href="@{/register}">register</a></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Navigation -->

        <nav class="main_nav">
            <div class="container">
                <div class="row">
                    <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container">
                            <div class="logo"><a src="/images/logo.png" alt="">TL Travel</a></div>
                        </div>
                        <div class="main_nav_container ml-auto">
                            <ul class="main_nav_list">
                                <li class="main_nav_item"><a th:href="@{/index}">Home</a></li>
                                <li class="main_nav_item"><a th:href="@{/Agent/${session.agentId}/HotelView}">Hotels</a></li>
<!--                                <li class="main_nav_item"><a th:href="@{/}">Reservations</a></li>-->
<!--                                <li class="main_nav_item"><a th:href="@{/blog}">MEnu</a></li>-->
<!--                                <li class="main_nav_item"><a th:href="@{/contact}">contact</a></li>-->
                            </ul>
                        </div>
<!--                        <div class="content_search ml-lg-0 ml-auto">-->
<!--                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--                                 width="17px" height="17px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">-->
<!--								<g>-->
<!--									<g>-->
<!--										<g>-->
<!--											<path class="mag_glass" fill="#FFFFFF" d="M78.438,216.78c0,57.906,22.55,112.343,63.493,153.287c40.945,40.944,95.383,63.494,153.287,63.494-->
<!--											s112.344-22.55,153.287-63.494C489.451,329.123,512,274.686,512,216.78c0-57.904-22.549-112.342-63.494-153.286-->
<!--											C407.563,22.549,353.124,0,295.219,0c-57.904,0-112.342,22.549-153.287,63.494C100.988,104.438,78.439,158.876,78.438,216.78z-->
<!--											M119.804,216.78c0-96.725,78.69-175.416,175.415-175.416s175.418,78.691,175.418,175.416-->
<!--											c0,96.725-78.691,175.416-175.416,175.416C198.495,392.195,119.804,313.505,119.804,216.78z"/>-->
<!--										</g>-->
<!--									</g>-->
<!--                                    <g>-->
<!--										<g>-->
<!--											<path class="mag_glass" fill="#FFFFFF" d="M6.057,505.942c4.038,4.039,9.332,6.058,14.625,6.058s10.587-2.019,14.625-6.058L171.268,369.98-->
<!--											c8.076-8.076,8.076-21.172,0-29.248c-8.076-8.078-21.172-8.078-29.249,0L6.057,476.693-->
<!--											C-2.019,484.77-2.019,497.865,6.057,505.942z"/>-->
<!--										</g>-->
<!--									</g>-->
<!--								</g>-->
<!--							</svg>-->
<!--                        </div>-->

                        <form id="search_form" class="search_form bez_1">
                            <input type="search" class="search_content_input bez_1">
                        </form>

                        <div class="hamburger">
                            <i class="fa fa-bars trans_200"></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <div class="menu trans_500">
        <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
            <div class="menu_close_container"><div class="menu_close"></div></div>
            <div class="logo menu_logo"><a href="#"><img src="/images/logo.png" alt=""></a></div>
            <ul>
                <li class="menu_item"><a href="#">home</a></li>
                <li class="menu_item"><a href="/about">about us</a></li>
                <li class="menu_item"><a href="/offers">offers</a></li>
                <li class="menu_item"><a href="/blog">news</a></li>
                <li class="menu_item"><a href="/contact">contact</a></li>
            </ul>
        </div>
    </div>

    <!-- Home -->

    <div class="home">

        <!-- Home Slider -->

        <div class="home_slider_container">

            <div class="owl-carousel owl-theme home_slider">

                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <!-- Image by https://unsplash.com/@anikindimitry -->
                    <div class="home_slider_background" style="background-image:url(/images/home_slider.jpg)"></div>

                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                            <h1>discover</h1>
                            <h1>the world</h1>
                            <div class="button home_slider_button"><div class="button_bcg"></div><a href="#">explore now<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>

                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(/images/home_slider.jpg)"></div>

                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                            <h1>discover</h1>
                            <h1>the world</h1>
                            <div class="button home_slider_button"><div class="button_bcg"></div><a href="#">explore now<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>

                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(/images/home_slider.jpg)"></div>

                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                            <h1>discover</h1>
                            <h1>the world</h1>
                            <div class="button home_slider_button"><div class="button_bcg"></div><a href="#">explore now<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Home Slider Nav - Prev -->
            <div class="home_slider_nav home_slider_prev">
                <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
					<defs>
						<linearGradient id='home_grad_prev'>
							<stop offset='0%' stop-color='#fa9e1b'/>
                            <stop offset='100%' stop-color='#8d4fff'/>
						</linearGradient>
					</defs>
                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
					M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
					C22.545,2,26,5.541,26,9.909V23.091z"/>
                    <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
					11.042,18.219 "/>
				</svg>
            </div>

            <!-- Home Slider Nav - Next -->
            <div class="home_slider_nav home_slider_next">
                <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
					<defs>
						<linearGradient id='home_grad_next'>
							<stop offset='0%' stop-color='#fa9e1b'/>
                            <stop offset='100%' stop-color='#8d4fff'/>
						</linearGradient>
					</defs>
                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
				M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
				C22.545,2,26,5.541,26,9.909V23.091z"/>
                    <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
				17.046,15.554 "/>
				</svg>
            </div>


        </div>

    </div>

    <!-- Search -->

<!--    <div class="search" style="height: 280px">-->


<!--        &lt;!&ndash; Search Contents &ndash;&gt;-->

<!--        <div class="container fill_height">-->
<!--            <div class="row fill_height">-->
<!--                <div class="col fill_height">-->

<!--                    &lt;!&ndash; Search Tabs &ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="search_tabs_container">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">&ndash;&gt;-->
<!--&lt;!&ndash;                            <a class="search_tab  d-flex flex-row align-items-center justify-content-lg-center justify-content-start" style="color:#A5A5A5;" th:href="@{/Hotel/hotelInfo}"><img src="/images/suitcase.png" alt=""><span>Hotels</span></a>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start" style="color:#A5A5A5;" th:href="@{/Extras/extrasInfo}"> <img src="/images/stats_1.png" alt="">Extras</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" style="color:#A5A5A5;" th:href="@{/FeedingType/feedingTypeInfo}"><img style="width: 40px;height: 30px" src="/images/feedingType.png" alt="">Feeding Types</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            &lt;!&ndash;                            <a class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="/images/departure.png" alt="">Add Photos</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            <a class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" style="color:#A5A5A5;" th:href="@{/HotelRoom/hotelRoomInfo}"><img style="width: 40px;height: 30px" src="/images/departure.png"  alt="">Rooms</a>&ndash;&gt;-->

<!--&lt;!&ndash;                            &lt;!&ndash;							<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="/images/island.png" alt="">trips</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            &lt;!&ndash;							<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="/images/cruise.png" alt="">cruises</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            &lt;!&ndash;							<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="/images/diving.png" alt="">activities</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                    &lt;!&ndash; Search Panel &ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="search_panel active">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <!-- Intro -->

    <div class="intro">
        <div class="container">
            <div  class="d-flex flex-row justify-content-center" >
                <h1>Hotels for Agent <span th:each="agent : ${agents}"
                                               th:if="${agent.id} == ${agentId}"
                                               th:text="${agent.name}">Paris </span></h1>
            </div>


            <table class="table table-striped table-hover" >
                <thead class="table-primary fw-bold">
                <tr class="fw-bold">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Stars</th>
                    <th scope="col">Contacts</th>
                    <th scope="col">Temporary Closed</th>
                    <th scope="col">Location ID</th>
                    <th scope="col">Partner ID</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hotel : ${hotels}">
                    <td th:text="${hotel.id}">ID</td>
                    <td th:text="${hotel.name}">Name</td>
                    <td th:text="${hotel.stars}">Stars</td>
                    <td th:text="${hotel.contacts}">Contacts</td>
                    <td th:text="${hotel.isTemporaryClosed ? 'Yes' : 'No'}">Closed?</td>
                    <td th:text="${hotel.locationId}">Location</td>
                    <td th:text="${hotel.partnerId}">Partner</td>
                </tr>
                </tbody>
            </table>

            <!-- Pagination controls -->
            <div>
                <span th:text="'Page ' + ${hotels.number + 1} + ' of ' + ${hotels.totalPages}"></span>

                <div>
                    <a th:href="@{/Agent/${agentId}/Hotel?page=0|}" th:if="${hotels.number > 0}">First</a>
                    <a th:href="@{/Agent/${agentId}/Hotel?page=${hotels.number - 1}}" th:if="${hotels.hasPrevious()}">Previous</a>
                    <a th:href="@{/Agent/${agentId}/Hotel?page=${hotels.number + 1}}" th:if="${hotels.hasNext()}">Next</a>
                    <a th:href="@{/Agent/${agentId}/Hotel?page=${hotels.totalPages - 1}}" th:if="${hotels.number < hotels.totalPages - 1}">Last</a>
                </div>
            </div>


        </div>
    </div>

    <!-- CTA -->









    <!-- Footer -->
    <div id="footer" th:replace="~{fragments/footer}">
    </div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/js/custom.js"></script>

</body>

</html>